{% extends "layout.html" %}
{% from 'sqladmin/_macros.html' import render_form_fields %}
{% block content %}
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Добавить {{ model_view.name }}</h3>
    </div>
    <div class="card-body border-bottom py-3">
      <form action="{{ url_for('admin:create', identity=model_view.identity) }}" method="POST"
        enctype="multipart/form-data">
        <div class="row">
          {% if error %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endif %}
        </div>
        <fieldset class="form-fieldset">
          {{ render_form_fields(form, form_opts=form_opts) }}
        </fieldset>
        <div class="row">
          <div class="col-md-2">
            <a href="{{ url_for('admin:list', identity=model_view.identity) }}" class="btn">
              Отменить
            </a>
          </div>
          <div class="col-md-6">
            <div class="btn-group flex-wrap" data-toggle="buttons">
              <input type="submit" name="save" value="Сохранить" class="btn">
              <input type="submit" name="save" value="Сохранить и продолжить редактирование" class="btn">
              <input type="submit" name="save" value="Сохранить и добавить другой объект" class="btn">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block tail %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jodit/4.2.47/es2021/jodit.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jodit/4.2.47/es2021/jodit.min.js"></script>
<script>
  $(document).ready(function() {
      $('#documents').select2();
  });
  $(document).ready(function() {
    $('#phones').select2();
  });
  $(document).ready(function() {
    $('#sport_objects').select2();
  });
  $(document).ready(function() {
    $('#photos').select2();
  });
</script>
<script>
  const editor = Jodit.make('#description', {
    uploader: {
      url: '/upload',
      insertImageAsBase64URI: false,
      imagesExtensions: ['jpg', 'png', 'jpeg', 'gif'],
    },
    image: {
      dialog: {
        tabs: ['upload', 'url'], 
      },
      edit: false, 
      resize: false, 
      resizeUseRatio: false,
      selectImageAfterInsert: false,
      openOnDblClick: false,
    },
    showImagePopup: true,
    imageDefaultWidth: 300,
    textIcons: false,
    defaultStyle: {
      color: '#000000',
    },
    video: {
      defaultWidth: 560,
      defaultHeight: 315,
      parseUrlToVideoEmbed: (url, size) => {
        if (/https:\/\/[a-z0-9]+\.[a-z]+/.test(url)) {
          return `<iframe width="${size.width}" height="${size.height}" src="${url}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`;
        }
        return Jodit.modules.Helpers.convertMediaUrlToVideoEmbed(url, size);
      }
    },
    controls: {
      video: {
        tooltip: 'Insert video'
      }
    },
    buttons: [
      'paragraph', 
      'bold', 
      'italic', 
      'underline',
      'fontsize',         
      'brush',             
      'lineHeight',
      '|', 
      'ul', 
      'ol', 
      'align',
      'indent',
      'outdent',
      '|', 
      'table', 
      'link', 
      'image',
      'video',
      '|', 
      'fullsize',
      'source'
    ],
    placeholder: ""
  });
</script>
{% endblock %}